<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCz2WE6AwTde2bZ3dVNN2qKg4edpJkg8fI</string>
	<key>GCM_SENDER_ID</key>
	<string>506797289918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appstagram.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>appstagram-181ea</string>
	<key>STORAGE_BUCKET</key>
	<string>appstagram-181ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506797289918:ios:d2743ae32f3a82d05fc9ef</string>
</dict>
</plist>